/*================================== Slider ==================================*/
.slider {
  background-image: linear-gradient(
      0deg,
      rgba(20, 20, 20, 1) 0%,
      rgba(20, 20, 20, 0.3) 50%,
      rgba(0, 59, 253, 0) 100%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.2) 100%),
    url("../src/films/slider_01.jpg");
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
}

.slider-info-movie-container {
  margin-top: 5em;
  z-index: 1;
  max-width: 800px;
}

.slider-info-movie-container .movie-title {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.slider-info-movie-container .movie-details {
  padding: 1em 0;
  color: white;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*Vertical dividers*/
.slider-info-movie-container .movie-details p {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.slider-info-movie-container .movie-details p:first-child {
  padding-left: 0;
}

.slider-info-movie-container .movie-details p:last-child {
  border-right: none;
}

.slider-info-movie-container .movie-details p span {
  background: #de0611;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-style: normal;
  border-radius: 2px;
}

.slider-info-movie-container .slider-movie-description {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  color: white;
  margin: 10px 0 20px;
}

.slider-info-movie-container .slider-buttons-container a {
  display: inline-block;
  margin-right: 10px;
  background: var(--primary);
  color: white;
  padding: 15px 30px;
  margin: 10px 10px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: solid 2px var(--primary);

  text-align: center;
  display: inline-flex;
  min-width: 350px;
  align-items: center;
}

.slider-info-movie-container .slider-buttons-container .slider-icon-play,
.slider-info-movie-container .slider-buttons-container .slider-icon-heart {
  max-width: 2em;
  margin-right: 1em;
}

.slider-info-movie-container .slider-buttons-container a:first-child {
  margin-left: 0;
}

.slider-info-movie-container .slider-buttons-container a:hover:first-child {
  background-color: var(--hover);
  border: solid 2px var(--hover);
}

.slider-info-movie-container .slider-buttons-container a:nth-child(2) {
  background-color: transparent;
  border: solid 2px rgba(255, 255, 255, 1);
}

.slider-info-movie-container .slider-buttons-container a:hover:nth-child(2) {
  background: var(--hover);
  border: solid 2px var(--hover);
  color: white;
}

/*================================== Trailer video ==================================*/
/* .trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

.trailer.active {
  visibility: visible;
  opacity: 1;
}

.trailer video {
  max-width: 1000px;
  outline: none;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
} */

/*================================== Media ==================================*/
@media only screen and (max-width: 600px) {
  .slider-info-movie-container .slider-buttons-container a {
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .slider-info-movie-container .slider-buttons-container a {
    margin: 0.5em 0;
  }
}
