body {
  background-color: var(--background);
}

.header {
  position: absolute;
  height: auto;
  padding: 2em;
  width: 50vw;
}

.header img {
  max-width: 175px;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  text-align: center;
}

.main .right {
  width: 70vw;
  height: 100vh;

  background-image: linear-gradient(
      90deg,
      rgba(20, 20, 20, 1) 2%,
      rgba(20, 20, 0, 0.2) 100%
    ),
    url("../src/films/cover_01.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.main .left {
  height: 100vh;
  padding: 30vh 20vh;
  text-align: center;
}

.main .left .title {
  font-size: 2em;
  font-weight: 400;
  color: white;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.main .left .title span {
  color: var(--primary);
  font-weight: 700;
}

.main .left .countdown {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: solid 1px red;
  padding: 1em;
  border-radius: var(--border-radius-05);
  margin-bottom: 1em;
  text-align: center;
}

.main .left .countdown .box-days div:first-child,
.main .left .countdown .box-hours div:first-child,
.main .left .countdown .box-minutes div:first-child,
.main .left .countdown .box-seconds div:first-child {
  font-size: 3em;
  font-weight: 700;
}

.main .left .countdown .box-days div:nth-child(2),
.main .left .countdown .box-hours div:nth-child(2),
.main .left .countdown .box-minutes div:nth-child(2),
.main .left .countdown .box-seconds div:nth-child(2) {
  font-size: 0.75em;
  text-transform: uppercase;
}

.main .left .launch-text {
  max-width: 450px;
  margin: 0 auto;
  color: white;
  padding: 1em 0;
  margin-bottom: 1em;
  line-height: 1.5em;
  font-weight: 200;
}

.main form {
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}
.main form input {
  position: absolute;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 0.25em;
  color: white;
  font-size: 1em;
  background-color: #333;
  font-weight: 200;
  left: 0;
  top: 0;
  padding: 0em 2em;
  margin: 1em 0 2em 0;
}

.main form input::placeholder {
  color: white;
  opacity: 0.4;
}

.main form button {
  cursor: pointer;
  position: absolute;
  background-color: var(--primary);
  right: 0;
  top: 16px;
  height: 50px;
  width: 100px;
  border-radius: 0.24em;
  outline: none;
  border: none;
}

.main form button:hover {
  background-color: var(--hover);
}

.main form button img {
  max-width: 20px;
}

.main form button:hover img {
  transform: translate(15px);
  transition: 0.4s ease-out;
}

/*================================== Media ==================================*/
@media only screen and (max-width: 600px) {
  .header {
    position: absolute;
  }

  .main {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
  }

  .main .right {
    width: 100vw;
    height: 30vh;
    background-image: linear-gradient(
        0deg,
        rgba(20, 20, 20, 1) 2%,
        rgba(20, 20, 0, 0.2) 100%
      ),
      url("../src/films/cover_01.jpg");
  }

  .main .left {
    width: 100vw;
    height: auto;
    padding: 1em 3em;
    text-align: left;
  }

  .main form button {
    width: 80px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .main .left {
    height: auto;
    padding: 1em 5em;
    text-align: left;
  }
}
